root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{yml,yaml,json,js,html}]
indent_size = 2

[*.java]
continuation_indent_size = 4

# Extenções ignoradas
[*.{jasper,txt,log,xlsx,pdf,png,jpeg,md,sql}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
